
<footer class=" pt-4">
    <div class="container">
        <div class="row  justify-content-evenly">
            <div class="col-md-2">
                <h6>POPULAR CATEGORIES</h6>
                <ul class="list-unstyled">
                    <li><a [routerLink]="['/category/Vehicles']">Cars</a></li>
                    <li><a [routerLink]="['/category/Property']">Flats for rent</a></li>
                    <li><a [routerLink]="['/category/Mobiles']">Mobile Phones</a></li>
                </ul>
            </div>
            <div class="col-md-2">
                <h6>TRENDING SEARCHES</h6>
                <ul class="list-unstyled">
                    <li><a [routerLink]="['/category/Bikes']">Bikes</a></li>
                    <li><a [routerLink]="['/category/Electronics']">Electronics</a></li>
                    <li><a [routerLink]="['/category/Tools']">Tools</a></li>
                </ul>
            </div>
            <div class="col-md-2">
                <h6>ABOUT US</h6>
                <ul class="list-unstyled">
                    <li><a routerLink="/blog">RentWise Blog</a></li>
                    <li><a routerLink="/contact">Contact Us</a></li>
                    <li><a routerLink="/rentwise-businessess">RentWise for Businesses</a></li>
                </ul>
            </div>
            <div class="col-md-2">
                <h6>RentWise</h6>
                <ul class="list-unstyled">
                    <li><a routerLink="/help">Help</a></li>
                    <li><a routerLink="/terms">Terms of use</a></li>
                    <li><a routerLink="/privacy">Privacy Policy</a></li>
                </ul>
            </div>
            <div class="col-md-2 social-icons">
                <h6>FOLLOW US</h6>
                <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
            </div>
        </div>

    </div>

    <div class="text-center bg-dark text-white py-3 mt-4">
        All rights reserved © 2025 rentWise
    </div>
</footer>
