<nav class="navbar navbar-expand-lg bg-body-tertiary ">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/">RentWise</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
            aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>

            <div class="offcanvas-body">
                <ul class="navbar-nav align-items-center justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/contact" routerLinkActive="active">Contact Us</a>
                    </li>
                    
                    <!-- Show login if user is NOT logged in -->
                    <li class="nav-item" *ngIf="!isLoggedIn">
                        <a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a>
                    </li>

                    <!-- Show user icon with dropdown when logged in -->
                    <li class="nav-item dropdown" *ngIf="isLoggedIn">
                        <a class="nav-link dropdown-toggle d-flex align-items-center" role="button" data-bs-toggle="dropdown">
                            <i class="fa-solid fa-circle-user"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li><a class="dropdown-item" routerLink="/profile">View Profile</a></li>
                            <li><a class="dropdown-item" routerLink="/my-ads">My Ads</a></li>
                            <li><a class="dropdown-item" routerLink="/my-bookings">My Bookings</a></li>
                            <li><a class="dropdown-item" routerLink="/notifications">Notifications <span class="badge rounded-5 bg-danger">{{ notifications.length }}</span></a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" (click)="logout()">Logout</a></li>
                        </ul>
                    </li>

                    <li class="nav-item" routerLink="/my-ads" routerLinkActive="active">
                        <a class="nav-link rent-btn">
                            <i class="fa-solid fa-plus"></i> Rent
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
